node_modules
.DS_Store
.idea
.VSCodeCounter
dist
dist-ssr
*.local4444444
src/main/_.js
src/main/_.js.map
tmp
**/.tmp
build.zip
release
/build
.vscode
output
ffmpeg2pass-0*
yarn-error.log
logs
public/tests
yarn.lock
/pnpm-global
!patches/**/dist
!patches/**/build/Release
